/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Mono-Black';
    src: url('/fonts/NaNHoloMono-Black/woff/NaNHoloMono-Black.woff2') format('woff2'),
         url('/fonts/NaNHoloMono-Black/ttf.NaNHoloMono-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mono-Medium';
    src: url('/fonts/NaNHoloMono-Medium/woff/NaNHoloMono-Medium.woff2') format('woff2'),
         url('/fonts/NaNHoloMono-Medium/ttf.NaNHoloMono-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'Mono-Medium', sans-serif;
}



/* styles.css */

/* General Body Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the grid container horizontally */
    height: 100%;
}

/* Header Styles */
header {
    width: 100%;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center; /* Center the logo inside its container */
    align-items: center; 
}

.logo-icon {
    width: 60%;  /* Icon size */
    height: auto;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for desktop */
    gap: 20px;
    width: 80%;  /* Take 80% of the screen width */
    max-width: 1200px;  /* Max width for larger screens */
    padding: 0px;
    margin-top: 20px;
    justify-content: center;  /* Center the grid items horizontally */
}

.grid-item {
    display: flex;
    flex-direction: column;  /* Stack content vertically */
    /*justify-content: space-between; /* Ensure the content stretches to fill the container */

    padding: 20px;
    height: 100%;  /* Allow grid items to stretch to full height */
    box-sizing: border-box; /* Includes padding and border in the height */
}

.image-item {
    display: flex;
    justify-content: center;  /* Center image horizontally */
    align-items: center;  /* Center image vertically if needed */
}

.image-item img {
    max-width: 100%;
    height: auto;
}

.carousel-image.active {
    display: block; /* Only show the active image */
}


.carousel-image {
    display: none;
}

.text-item {
    display: flex;
    justify-content: top;
    height: 100%; /* Make sure the text box takes full height */
    padding: 20px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}
